<div class="card p-5 mb-2">
    <div class="container-fluid py-5">
        <h1 class="display-3 fw-bold">INDEX</h1>
        <p class="col-md-8 fs-3">
            "Vive tu vida en modo avión."<br>
            "Habla menos, haz más."<br>
            "Al que es feliz, se le nota."<br>
            "Tú eres tu única competencia."<br>
            "Sé la mejor versión de tí mismo."
        </p>
        <a class="btn btn-lg text-white bg-dark" href="/users/signin" role="button">REGISTRATE</a>
    </div>
</div>